.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.merry-christmas {
  font-family: 'Great Vibes', cursive;
  color: #cc0000;
  /* text-shadow: 0px 2px 1px #274944; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-popup {
  animation: textPopup 1.3s;
  color: red;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  z-index: 99;
  width: 35px;
  height: 35px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes textPopup {
  0%,
  100% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 50px, 0);
  }
}

.snowflake-control {
  display: flex;
  align-items: center;
  padding-left: 2em;
  font-size: 13px;
  color: #73787d;
}
