@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

html,
body {
  height: 100%;
  overflow: hidden;
}

.fc {
  .fc-title {
    white-space: normal;
  }
  .fc-day {
    cursor: pointer;
    &:hover {
      background: rgba(255, 158, 182, 0.1);
    }
  }
  .fc-event {
    border-radius: 0;
    padding: 0.5em;
    transition-duration: 0.2s;
    transition-property: box-shadow transform;
    &:hover {
      transform: translate3d(0, -3px, 0);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }
  }
  .fc-toolbar h2 {
    font-weight: 200;
  }
  .fc-toolbar.fc-header-toolbar {
    padding-top: 0.75em;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  .fc-day-top {
    color: #70757a;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    .fc-day-number {
      float: left !important;
    }
  }
  .fc-day-header {
    padding: 0.5em;
    color: #70757a;
  }
  .fc-view {
    padding-bottom: 2em;
  }
  .fc-button {
    border-radius: 0;
  }
  .fc-button-group {
    .fc-prev-button {
      margin-right: 0.5em;
    }
  }
}

main {
  display: flex;
  height: 100vh;
  flex-direction: row;
  .side-bar {
    width: 200px;
    height: 100vh;
    padding: 2em;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .tags-wrapper {
      display: flex;
      height: 100%;
      flex: 1;
      padding: 2.4em 0 0 0;
      align-items: flex-start;
      flex-direction: column;
      .MuiChip-root {
        margin-right: 0px;
        margin-top: 1em;
      }
    }
    button {
      margin-bottom: 0.2em;
    }
  }
  .main-content-wrapper {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-bottom: 2em;
  }
  .calendar-wrapper {
    box-sizing: border-box;
    padding: 0 2em;
    flex: 1;
  }
  .tags-wrapper {
    height: 50px;
    padding: 0 2em;
    display: flex;
    align-items: center;
    .MuiChip-root {
      margin-right: 10px;
    }
  }
}

.color-picker-wrapper {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5em;
  input {
    display: block;
    margin: 6px 0 7px;
  }
  .color-picker-value {
    width: 2em;
    height: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .color-picker-label {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 0.75em;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
  }
  .chrome-picker {
    position: absolute;
    top: 2em;
    z-index: 2;
    left: 0;
  }
  .tags-wrapper {
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    .MuiChip-root {
      margin-right: 10px;
    }
  }
}

#snowflake-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
